@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *, .dark, .dark *));

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: var(--color-zinc-950); /* 240 10% 3.9% */

    --card: 0 0% 100%;
    --card-foreground: var(--color-zinc-950); /* 240 10% 3.9% */

    --popover: 0 0% 100%;
    --popover-foreground: var(--color-zinc-950); /* 240 10% 3.9% */

    --primary: var(--color-zinc-900); /* 240 5.9% 10% */
    --primary-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --secondary: var(--color-zinc-100); /* 240 4.8% 95.9% */
    --secondary-foreground: var(--color-zinc-900); /* 240 5.9% 10% */

    --muted: var(--color-zinc-100); /* 240 4.8% 95.9% */
    --muted-foreground: var(--color-zinc-500); /* 240 3.8% 46.1% */

    --accent: var(--color-zinc-100); /* 240 4.8% 95.9% */
    --accent-foreground: var(--color-zinc-900); /* 240 5.9% 10% */

    --destructive: var(--color-red-500); /* 0 84.2% 60.2% */
    --destructive-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --border: var(--color-zinc-200); /* 240 5.9% 90% */
    --input: var(--color-zinc-200); /* 240 5.9% 90% */
    --ring: var(--color-zinc-900); /* 240 5.9% 10% */

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--color-zinc-950); /* 240 10% 3.9% */
    --foreground: var(--color-zinc-50); /* 0 0% 98% */

    --card: var(--color-zinc-950); /* 240 10% 3.9% */
    --card-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --popover: var(--color-zinc-950); /* 240 10% 3.9% */
    --popover-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --primary: var(--color-zinc-50); /* 0 0% 98% */
    --primary-foreground: var(--color-zinc-900); /* 240 5.9% 10% */

    --secondary: var(--color-zinc-800); /* 240 3.7% 15.9% */
    --secondary-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --muted: var(--color-zinc-800); /* 240 3.7% 15.9% */
    --muted-foreground: var(--color-zinc-400); /* 240 5% 64.9% */

    --accent: var(--color-zinc-800); /* 240 3.7% 15.9% */
    --accent-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --destructive: var(--color-red-900); /* 0 62.8% 30.6% */
    --destructive-foreground: var(--color-zinc-50); /* 0 0% 98% */

    --border: var(--color-zinc-800); /* 240 3.7% 15.9% */
    --input: var(--color-zinc-800); /* 240 3.7% 15.9% */
    --ring: var(--color-zinc-300); /* 240 4.9% 83.9% */
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-radius: var(--radius);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--height);
    }
  }
}
